.app {
  box-sizing: border-box;
  margin: 0;
  border: 2px solid $border-color;

  @media #{$mobile} {
    border: none;
    padding: 0 22px;
    max-width: 320px;
    min-height: 340px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    padding: 0 60px 59px;
  }

  @media #{$desktop} {
    margin-left: 36px;
    margin-top: 69px;
    min-height: 311px;
  }
}

.app__legend {
  margin: 0 auto;

  @media #{$mobile} {
    line-height: 18px;
    padding-top: 39px;
  }

  @media #{$tablet} {
    min-width: 366px;
  }

  @media #{$desktop} {
    min-width: 365px;
  }
}

.app__wrapper {
  @media #{$mobile} {
    background-color: $advantages-background;
  }

  @media #{$tablet} {
    min-width: 620px;
    margin: 0 20px;
    order: -2;
    padding-top: 55px;
  }

  @media #{$desktop} {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &--control {
    @media #{$mobile} {
      padding-top: 39px;
      margin-bottom: 6px;
    }

    @media #{$tablet} {
      padding-top: 46px;
      padding-left: 59px;
    }

    @media #{$desktop} {
      padding-top: 46px;
      padding-left: 132px;
    }
  }
}

.app .app__wrapper--control:last-child {
  @media #{$tablet} {
    padding-top: 44px;
  }
}

.app .form__label {
  @media #{$mobile} {
    padding-left: 68px;
  }
}
