.competition__title {
  font-size: inherit;
  margin: 0 auto;
  text-align: center;

  @media #{$mobile} {
    max-width: 300px;
  }

  @media #{$tablet} {
    max-width: 540px;
    font-size: 18px;
  }

  @media #{$desktop} {
    max-width: 830px;
    font-size: 18px;
  }
}

.competition__wrapper {
  @media #{$mobile} {
    box-sizing: border-box;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 22px;
  }

  @media #{$tablet} {
    box-sizing: border-box;
    max-width: 660px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
  }
}

.competition__note {
  color: $contacts-link-color;
}
