.competition__title {
  font-size: inherit;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;

  @media #{$mobile} {
    max-width: 280px;
    padding-top: 44px;
  }

  @media #{$tablet} {
    max-width: 540px;
    font-size: 18px;
    padding-top: 91px;
  }

  @media #{$desktop} {
    max-width: 800px;
    font-size: 18px;
    padding-top: 91px;
    margin: 0 auto;
  }
}

.competition__subtitle {
  @media #{$mobile} {
    display: none;
  }

  @media #{$tablet} {
    letter-spacing: 0.2px;
  }
}

.competition__text {
  text-transform: uppercase;

  &--control {
    @media #{$mobile} {
      display: none;
    }

    @media #{$tablet} {
      display: none;
    }
  }

  @media #{$mobile} {
    margin-top: 37px;
  }

  @media #{$tablet} {
    padding-top: 6px;
  }

  @media #{$desktop} {
    padding-top: 6px;
  }
}

.competition__note {
  color: $contacts-link-color;
}
