.copyright {
  display: flex;
  align-items: center;

  @media #{$mobile} {
    padding-top: 24px;
  }

  @media #{$desktop} {
    padding-top: 5px;
    margin-right: 20px;
  }
}

.copyright__text {
  @media #{$mobile} {
    padding-right: 15px;
  }

  @media #{$tablet} {
    padding-right: 16px;
  }

  @media #{$desktop} {
    font-size: 18px;
    padding-right: 13px;
    padding-bottom: 10px;
  }
}

.copyright__link {
  @media #{$mobile} {
    padding-top: 4px;
  }

  @media #{$tablet} {
    margin-top: 9px;
  }

  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    outline: none;
    fill: $text-color;
  }

  &:active svg {
    fill: rgba($text-color, 0.3);
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: $contacts-link-color;

  @media #{$tablet} {
    height: 37px;
  }
}
