.details__wrapper {
  margin: 0;
  box-sizing: border-box;
  border: 2px solid $border-color;
  padding: 0;

  @media #{$mobile} {
    border: none;
    padding: 0 22px 30px 22px;
    max-width: 320px;
    margin: 0 auto;
    min-height: 571px;
  }

  @media #{$tablet} {
    margin-top: 59px;
    padding: 1px 40px;
    min-height: 560px;
  }

  @media #{$desktop} {
    margin-top: 57px;
  }

  &--control {
    @media #{$mobile} {
      min-height: 491px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 7px;
    }

    @media #{$tablet} {
      border: none;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      min-height: 540px;
      padding-top: 47px;
      padding-left: 57px;
      min-width: 300px;
    }

    @media #{$desktop} {
      border: none;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      min-height: 186px;
      padding-left: 116px;
      margin-bottom: 33px;
      margin-top: 0;
      overflow: hidden;
    }
  }
}

.details__legend {
  line-height: 18px;
  margin: 0 auto;

  @media #{$mobile} {
    padding-top: 39px;
  }

  @media #{$tablet} {
    min-width: 436px;
  }

  @media #{$desktop} {
    min-width: 433px;
  }
}

.details {
  box-sizing: border-box;

  @media #{$mobile} {
    background-color: $advantages-background;
  }

  @media #{$tablet} {
    min-width: 620px;
    margin: 0 20px;
  }

  @media #{$desktop} {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

.details__item {
  @media #{$mobile} {
    width: 100%;
    min-height: 47px;
    padding-top: 35px;
  }

  @media #{$desktop} {
    padding-top: 30px;
    width: 220px;
    margin-right: 96px;
  }

  &--control {
    @media #{$desktop} {
      margin-right: 76px;
    }
  }

  &--range {
    @media #{$desktop} {
      width: 170px;
      margin-right: 0;
    }
  }

  &:nth-child(even) {
    @media #{$desktop} {
      padding-top: 9px;
    }
  }

  &:first-child {
    @media #{$desktop} {
      order: -3;
    }
  }

  &:nth-child(3) {
    @media #{$desktop} {
      order: -2;
    }
  }

  &:nth-child(5) {
    @media #{$desktop} {
      order: -1;
    }
  }
}

.details__item > .form__label {
  @media #{$mobile} {
    padding-left: 57px;
  }
}
