.filter__title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;

  @media #{$mobile} {
    max-width: 240px;
  }

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$desktop} {
    font-size: 18px;
  }
}

.filter__wrapper {
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media #{$tablet} {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
  }

  &--control {

    display: flex;
    justify-content: space-around;

    @media #{$tablet} {
      display: grid;
    }

    @media #{$desktop} {
      display: grid;
    }
  }
}

.filter__photo {
  @media #{$tablet} {
    grid-row: 1/-1;
  }

  @media #{$desktop} {
    grid-row: 1/-1;
  }
}

.filter__fieldset {
  @media #{$tablet} {
    max-width: 260px;
  }
}

.filter__buttons {
  @media #{$mobile} {
    display: grid;
  }

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
  }

  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
  }
}
