.filter__wrapper {
  box-sizing: border-box;
  padding-top: 20px;

  @media #{$tablet} {
    padding-top: 61px;
  }

  @media #{$desktop} {
    max-width: 960px;
    margin: 0 auto;
    padding: 4px 10px 28px;
  }
}

.filter__title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;

  @media #{$mobile} {
    max-width: 260px;
    line-height: 30px;
    padding-bottom: 42px;
  }

  @media #{$tablet} {
    font-size: 18px;
    padding-bottom: 70px;
  }

  @media #{$desktop} {
    font-size: 18px;
    margin-bottom: 67px;
  }
}

.filter__container {
  background-color: $advantages-background;

  @media #{$desktop} {
    max-height: 514px;
  }
}

.filter-list {
  @media #{$tablet} {
    display: flex;
    min-height: 56px;
    border-bottom: 1px solid rgba($text-color, 0.1);
  }

  @media #{$desktop} {
    display: flex;
    border-bottom: 1px solid rgba($text-color, 0.1);
    width: 409px;
    max-height: 49px;
  }

  &:nth-child(2) {
    @media #{$desktop} {
      max-height: 67px;
    }
  }

  &:last-child {
    @media #{$desktop} {
      border: none;
    }
  }
}

.filter__label {
  @media #{$tablet} {
    grid-row: 1/-1;
  }

  @media #{$desktop} {
    grid-row: 1/-1;
  }
}

.filter__photo {
  @media #{$tablet} {
    min-width: 300px;
    min-height: 400px;
  }

  @media #{$desktop} {
    min-width: 300px;
    min-height: 400px;
  }
}

.filter__fieldset {
  border: none;
  height: 100%;

  @media #{$desktop} {
    padding-left: 89px;
  }
}

.filter__box {
  display: flex;
  justify-content: space-around;

  @media #{$mobile} {
    padding-top: 29px;
  }

  @media #{$tablet} {
    display: grid;
    grid-template-rows: 55px 73px 70px;
    justify-content: flex-start;
  }

  @media #{$desktop} {
    display: grid;
    grid-template-rows: 55px 73px 70px;
    justify-content: flex-start;
  }

  @media #{$desktop} {
    display: grid;
  }
}

.filter__buttons {
  @media #{$mobile} {
    display: grid;
    padding-top: 31px;
    padding-bottom: 41px;
  }

  @media #{$tablet} {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 23px;
    padding-top: 51px;
    box-sizing: border-box;
  }

  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
    padding-top: 123px;
    padding-left: 90px;
  }
}

.filter__item {
  border: none;
  background: transparent;

  &--crop {
    @media #{$mobile} {
      transform: translate(3px, 2px);
    }

    @media #{$tablet} {
      transform: translate(18px, -5px);
    }

    @media #{$desktop} {
      transform: translate(-9px, -9px);
    }
  }

  &--crop svg {
    @media #{$tablet} {
      width: 22px;
      height: 22px;
    }
  }

  &--fill {
    @media #{$mobile} {
      transform: translate(-6px, 2px);
    }

    @media #{$tablet} {
      transform: translate(17px, 6px);
    }

    @media #{$desktop} {
      transform: translate(-9px, -1px);
    }
  }

  &--fill svg {
    @media #{$tablet} {
      width: 24px;
      height: 22px;
    }
  }

  &--contrast {
    @media #{$mobile} {
      transform: translate(-15px, 7px);
    }

    @media #{$tablet} {
      transform: translate(21px, 4px);
    }

    @media #{$desktop} {
      transform: translate(-3px, 6px);
    }
  }

  &--contrast svg {
    @media #{$tablet} {
      width: 16px;
      height: 16px;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    fill: rgba($text-color, 0.5);
  }
}

.filter__icon {
  @media #{$mobile} {
    fill: rgba($text-color, 0.3);
  }

  @media #{$tablet} {
    fill: $contacts-link-color;
    width: 22px;
    height: 22px;
  }

  @media #{$desktop} {
    fill: $contacts-link-color;
  }

  &--current {
    fill: $contacts-link-color;
    opacity: 1;
  }
}
