.gallery {
  @media #{$mobile} {
    padding-top: 44px;
  }
}

.gallery__title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;

  @media #{$mobile} {
    max-width: 250px;
    line-height: 30px;
  }

  @media #{$tablet} {
    font-size: 18px;
    max-width: 450px;
  }

  @media #{$desktop} {
    font-size: 18px;
    max-width: 600px;
    line-height: 30px;
  }
}

.gallery__panorama {
  width: 100%;
  vertical-align: bottom;

  @media #{$mobile} {
    padding-top: 50px;
  }

  @media #{$tablet} {
    min-height: 509px;
  }
}

.gallery__wrapper {
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  @media #{$tablet} {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
    gap: 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    gap: 20px;
  }
}

.gallery__post {
  background-color: $advantages-background;

  @media #{$mobile} {
    margin: 0 auto 20px auto;
  }

  @media #{$desktop} {
    margin-bottom: 34px;
  }

  &:first-child {
    position: relative;

    @media #{$tablet} {
      min-width: 620px;
      grid-column: 1/-1;
      margin-bottom: 30px;
      padding-bottom: 24px;
    }

    @media #{$desktop} {
      min-width: 940px;
      grid-column: 1/-1;
      margin-bottom: 30px;
    }
  }

  &:first-child::after {
    content: "панорама дня";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    text-transform: uppercase;
    color: $white;
    padding: 6px 20px 6px 19px;
    right: 0;
    bottom: 293px;
    background-color: $contacts-link-color;

    @media #{$tablet} {
      right: 0;
      bottom: 537px;
      width: 101px;
    }

    @media #{$desktop} {
      right: 0;
      bottom: 512px;
    }
  }

  &:nth-child(3) .gallery__item {
    height: 121px;
  }

  &:nth-child(4) .gallery__item {
    height: 144px;
  }

  &:nth-child(5) .gallery__item {
    height: 121px;
  }

  &:nth-child(6) .gallery__item {
    height: 121px;
  }

  &:last-child .gallery__item {
    height: 121px;
  }
}

.gallery__photo {
  width: 100%;
  vertical-align: bottom;
}

.gallery__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media #{$mobile} {
    padding-left: 17px;
    padding-top: 18px;
    max-width: 280px;
    height: 143px;
  }

  @media #{$tablet} {
    padding: 23px 0 22px 30px;
  }

  @media #{$desktop} {
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 21px;
  }

  &:first-child {
    @media #{$mobile} {
      min-height: 192px;
    }

    @media #{$tablet} {
      padding-bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      padding-top: 23px;
    }

    @media #{$desktop} {
      padding-top: 25px;
      padding-bottom: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
    }
  }
}

.gallery__user {
  margin: 0;

  &--size {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.gallery__text {
  line-height: 24px;

  @media #{$mobile} {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  @media #{$tablet} {
    margin: 0;
    grid-column: 1/-1;
    padding-top: 2px;
  }

  @media #{$desktop} {
    margin: 0;
    grid-column: 1/-1;
  }

  &:first-child {
    padding: 0;

    @media #{$tablet} {
      padding-top: 91px;
      padding-bottom: 77px;
      line-height: 30px;
    }

    @media #{$desktop} {
      padding-top: 91px;
      min-height: 149px;
    }
  }

  &--range {
    max-width: 240px;
  }
}

.gallery__likes {
  @media #{$tablet} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 14px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 15px;
  }

  &--top {
    @media #{$tablet} {
      padding-left: 147px;
      grid-column: 2/3;
      grid-row: 1/2;
      padding-top: 1px;
      justify-content: flex-end;
    }

    @media #{$desktop} {
      padding-top: 0;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-content: flex-start;
    }
  }

  &--control {
    @media #{$tablet} {
      padding-top: 38px;
    }

    @media #{$desktop} {
      padding-top: 39px;
    }
  }
}

.gallery__likes--top .gallery__number {
  @media #{$tablet} {
    padding-top: 3px;
    padding-right: 16px;
  }

  @media #{$desktop} {
    padding-top: 2px;
    padding-right: 47px;
  }
}

.gallery__number {
  font-size: 12px;
  color: $contacts-link-color;
  text-transform: uppercase;

  @media #{$mobile} {
    padding-left: 15px;
  }
}

.gallery__carry {
  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}
