.gallery__title {
  font-size: 14px;
  font-weight: 400;
}

.gallery__item {
  background-color: $advantages-background;
}

.gallery__user {
  &--size {
    font-size: 12px;
    font-weight: 300;
  }
}

.gallery__number {
  font-size: 12px;
  color: $contacts-link-color;
  text-transform: uppercase;
}
