.page-main {
  @media #{$tablet} {
    margin-top: -41px;
  }

  @media #{$desktop} {
    margin-top: -42px;
  }
}

.main {
  font-weight: 300;
  color: $white;

  @media #{$mobile} {
    min-height: 237px;
    margin-top: -19px;
    background: $main-background url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  }

  @media #{$tablet} {
    min-height: 440px;
    background: $main-background url("../img/bg-back-tablet@1x.jpg") no-repeat center;
  }

  @media #{$desktop} {
    min-height: 394px;
    background: $main-background url("../img/bg-back-desktop@1x.jpg") no-repeat center;
  }

  &--first {
    @media #{$mobile} {
      min-height: 733px;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat center,
        $main-background url("../img/bg-back-mobile@1x.jpg") no-repeat center;
    }

    @media #{$tablet} {
      min-height: 729px;
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom,
        url("../img/bg-back-tablet@1x.jpg") no-repeat center/cover;
    }

    @media #{$desktop} {
      min-height: 853px;
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat center bottom,
        url("../img/bg-back-desktop@1x.jpg") no-repeat center/cover;
    }
  }
}

.main__wrapper {
  box-sizing: border-box;
  margin: 0 auto;

  @media #{$mobile} {
    min-height: 733px;
    padding: 0 20px;
    max-width: 320px;
    text-align: center;
  }

  @media #{$tablet} {
    padding: 0 20px;
    max-width: 660px;
  }

  @media #{$desktop} {
    padding: 0 130px;
    max-width: 1200px;
  }
}

.main__title {
  font-size: 24px;
  font-weight: 300;
  max-width: 240px;
  padding-top: 95px;
  text-align: center;

  @media #{$mobile} {
    max-width: 240px;
    padding-top: 95px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    max-width: 200px;
    padding-top: 211px;
    font-size: 40px;
  }

  @media #{$desktop} {
    padding-top: 224px;
    max-width: 250px;
    font-size: 50px;
  }

  &--second {
    @media #{$tablet} {
      max-width: 480px;
      font-size: 50px;
      padding-top: 191px;
      margin: 0 auto;
    }

    @media #{$desktop} {
      max-width: 760px;
      font-size: 50px;
      padding-top: 184px;
      margin: 0 auto;
    }
  }
}

.main__links {
  display: flex;
  justify-content: center;

  @media #{$tablet} {
    max-width: 300px;
  }

  @media #{$desktop} {
    max-width: 300px;
  }
}

.main__link {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  max-width: 280px;
  align-self: center;

  &--store {
    margin-top: 32px;
    margin-bottom: 28px;
  }

  @media #{$tablet} {
    max-width: 300px;
  }

  @media #{$desktop} {
    max-width: 300px;
    font-size: 21px;
  }
}

.main__note {
  max-width: 240px;

  @media #{$mobile} {
    margin: 0 auto;
  }
}
