.map {
  position: relative;

  @media #{$mobile} {
    min-height: 234px;
    background: $border-color url("../img/map-mobile.png") no-repeat center/cover;
  }

  @media #{$tablet} {
    min-height: 396px;
    background: $border-color url("../img/map-tablet.png") no-repeat center/cover;
  }

  @media #{$desktop} {
    min-height: 502px;
    background: $border-color url("../img/map-desktop.png") no-repeat center/cover;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/triangle-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -56px;
    width: 320px;
    height: 123px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    @media #{$tablet} {
      width: 660px;
      height: 123px;
      top: -33px;
      z-index: 1;
      background-image: url("../img/triangle-tablet.svg");
    }

    @media #{$desktop} {
      width: 960px;
      height: 123px;
      background-image: url("../img/triangle-desktop.svg");
      top: -20px;
    }
  }
}

.map__item {
  width: 100%;
  vertical-align: bottom;
  height: 100%;

  @media #{$mobile} {
    min-height: 234px;
  }

  @media #{$tablet} {
    min-height: 396px;
  }

  @media #{$desktop} {
    min-height: 502px;
  }
}
