.map {
  width: 100%;
  vertical-align: bottom;

  @media #{$mobile} {
    min-height: 234px;
  }

  @media #{$tablet} {
    min-height: 396px;
  }

  @media #{$desktop} {
    min-height: 502px;
    padding-top: 19px;
  }
}
