.nav {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;

  @media #{$desktop} {
    text-transform: none;
    font-weight: 400;
    display: flex;
    padding-top: 50px;
  }
}

.nav__toggle {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  width: 51px;
  height: 24px;

  @media #{$mobile} {
    transform: translateY(-2px);
  }

  @media #{$tablet} {
    transform: translateY(-1px);
  }

  @media #{$desktop} {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    outline: none;
    fill: $contacts-link-color;
  }

  &:active svg {
    fill: rgba($contacts-link-color, 0.3);
  }
}
