.number {
  margin: 0;
  box-sizing: border-box;

  @media #{$mobile} {
    padding: 0 22px;
    max-width: 320px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    min-width: 620px;
    margin: 55px 20px 0;
    padding: 0 58px 31px;
    order: -1;
  }

  @media #{$desktop} {
    padding: 0 58px;
    grid-column: 1/3;
    min-height: 173px;
    margin-top: 55px;
  }
}

.number__legend {
  margin: 0 auto;

  @media #{$mobile} {
    display: none;
  }

  @media #{$tablet} {
    min-width: 257px;
  }

  @media #{$desktop} {
    min-width: 257px;
  }
}

.number__wrapper {
  @media #{$mobile} {
    padding-bottom: 42px;
  }

  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
  }
}

.number__wrapper .form__wrapper--control:first-child {
  @media #{$desktop} {
    padding-right: 70px;
  }
}
