.offer__information {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  min-height: 250px;

  @media #{$mobile} {
    max-width: 320px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    max-width: 660px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.offer__item {
  font-weight: 300;
  margin: 0 auto;

  @media #{$mobile} {
    font-size: 24px;
    max-width: 240px;
  }

  @media #{$tablet} {
    font-size: 40px;
    max-width: 600px;
  }

  @media #{$desktop} {
    font-size: 50px;
    max-width: 750px;
  }

  &--width {
    @media #{$tablet} {
      max-width: 410px;
    }

    @media #{$desktop} {
      max-width: 420px;
    }
  }
}
