.offer__information {
  font-weight: 300;
  font-size: 24px;
}

.offer__item {
  font-size: 24px;
  font-weight: 300;
}

.advantages {
  background: $advantages-background url("../img/iphone-screen-mobile@1x.png") no-repeat center bottom;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
}
