.page-footer__wrapper {
  display: flex;
  box-sizing: border-box;

  @media #{$mobile} {
    padding-top: 40px;
    min-height: 284px;
    max-width: 320px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  @media #{$tablet} {
    min-height: 127px;
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  @media #{$desktop} {
    max-width: 960px;
    margin: 0 auto;
    min-height: 197px;
    /*padding: 0 130px;*/
    justify-content: space-between;
    align-items: center;
  }

  &--control {
    @media #{$mobile} {
      padding-top: 46px;
    }
  }

  &--range {
    @media #{$mobile} {
      padding-top: 46px;
    }

    @media #{$tablet} {
      padding-top: 4px;
    }
  }
}

.page-footer__logo {
  @media #{$tablet} {
    transform: translate(-1px, -5px);
  }

  @media #{$desktop} {
    transform: translateY(-5px);
  }

  &--control {
    @media #{$mobile} {
      margin-top: -7px;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    outline: none;
    fill: $contacts-link-color;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__svg {
  fill: $text-color;

  @media #{$desktop} {
    display: none;
  }
}

.page-footer__svg-desktop {
  fill: $text-color;

  @media #{$mobile} {
    display: none;
  }

  @media #{$tablet} {
    display: none;
  }
}
