.page-header {
  background-color: rgba($black, 0.3);
  width: 100%;
  z-index: 1;
  position: relative;

  @media #{$mobile} {
    max-height: 66px;
    margin-bottom: 0;
  }

  @media #{$tablet} {
    min-height: 98px;
    margin-bottom: -103px;
  }

  @media #{$desktop} {
    max-height: 110px;
    margin-bottom: -110px;
  }

  &--control {
    @media #{$tablet} {
      margin-bottom: -109px;
    }
  }

  &--menu {
    @media #{$mobile} {
      margin-bottom: -66px;
    }
  }
}

.page-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  order: -1;
  background-color: $text-color;

  @media #{$mobile} {
    min-width: 320px;
    padding: 0 20px;
    min-height: 69px;
    box-sizing: border-box;
  }

  @media #{$tablet} {
    min-height: 109px;
    min-width: 660px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  @media #{$desktop} {
    margin: 0;
    background-color: transparent;
  }

  &--menu {
    @media #{$mobile} {
      background-color: transparent;
    }

    @media #{$tablet} {
      min-height: 109px;
      background-color: transparent;
    }
  }

  &--control {
    display: flex;

    @media #{$mobile} {
      flex-direction: column;
    }

    @media #{$tablet} {
      flex-direction: column;
    }

    @media #{$desktop} {
      box-sizing: border-box;
      max-width: 1200px;
      padding: 0 130px;
      margin: 0 auto;
      justify-content: space-between;
    }
  }
}

.logo svg {
  @media #{$mobile} {
    transform: translate(-72px, 5px);
  }

  @media #{$tablet} {
    transform: translateY(26px);
  }

  @media #{$desktop} {
    transform: translateY(27px);
  }
}
