.page-header {
  background-color: rgba($black, 0.3);
  width: 100%;
  z-index: 1;
  position: relative;

  @media #{$mobile} {
    max-height: 66px;
    margin-bottom: -66px;
  }

  @media #{$tablet} {
    min-height: 98px;
    margin-bottom: -103px;
  }

  @media #{$desktop} {
    max-height: 110px;
    margin-bottom: -110px;
  }

  &--control {
    @media #{$tablet} {
      margin-bottom: -109px;
    }
  }
}

.page-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    padding: 0 20px;
  }

  @media #{$tablet} {
    max-width: 660px;
    padding: 0 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    padding: 0 130px;
  }
}

.logo svg {
  padding-top: 22px;
}
