.page-header {
  background-color: rgba($black, 0.3);
  position: absolute;
  width: 100%;

  @media #{$mobile} {
    min-height: 66px;
  }

  @media #{$tablet} {
    min-height: 110px;
  }

  @media #{$desktop} {
    min-height: 110px;
  }
}

.nav {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;

  @media #{$desktop} {
    padding-right: 130px;
  }
}

.nav__toggle {
  margin-left: auto;

  @media #{$mobile} {
    transform: translateY(-13px);
  }

  @media #{$desktop} {
    display: none;
  }
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media #{$mobile} {
    background-color: $text-color;
    display: none;
  }

  @media #{$tablet} {
    background-color: $text-color;
    display: none;
  }

  @media #{$desktop} {
    display: flex;
    margin-left: auto;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media #{$desktop} {
    padding-left: 79px;
  }
}

.site-list__link {
  color: $white;
}
