.page-body {
  margin: 0;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: $text-color;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  position: relative;
}
