.rates {
  text-transform: uppercase;
  overflow: hidden;
  background-color: $advantages-background;

  @media #{$mobile} {
    background: url("../img/grey background-.png") no-repeat top 3px center/cover;
  }

  @media #{$tablet} {
    min-height: 288px;
    padding-top: 111px;
    background: url("../img/grey background-.png") no-repeat top -39px center/cover;
  }
}

.rates__wrapper {
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    padding-top: 128px;
  }

  @media #{$tablet} {
    max-width: 660px;
    padding: 0 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    padding: 138px 130px 98px 130px;
  }
}

.rates__table {
  border-collapse: collapse;

  @media #{$mobile} {
    width: 1104px;
    transform: translateX(-48%);
    transition: 0.5s;
  }
}

.rates__title {
  font-size: 16px;
  font-weight: 700;
  color: $white;
  border: 2px solid $advantages-background;
  border-radius: 1px 0 0 0;
  background-color: $text-color;
  width: 276px;

  @media #{$mobile} {
    height: 96px;
  }

  @media #{$desktop} {
    height: 94px;
  }
}

.rates__text {
  font-size: 18px;
  font-weight: 300;
  color: $white;
}

.rates__detail {
  width: 276px;
  border: 2px solid $border-color;
  border-radius: 0 0 0 1px;
  background-color: $white;

  @media #{$mobile} {
    height: 56px;
  }

  @media #{$desktop} {
    height: 56px;
    width: 265px;
  }
}

.rates__item {
  padding-left: 20px;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}

.rates__toggles {
  text-align: center;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}
