.rates {
  text-transform: uppercase;
  overflow: hidden;
  background-color: $advantages-background;

  @media #{$mobile} {
    min-height: 546px;
    background: url("../img/grey background-.png") no-repeat top 37px center/cover;
  }

  @media #{$tablet} {
    min-height: 327px;
    padding-top: 111px;
    background: url("../img/grey background-.png") no-repeat top 1px center/cover;
  }

  @media #{$desktop} {
    background: url("../img/grey background-desktop.png") no-repeat top 33px center/cover;
  }
}

.rates__wrapper {
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    padding-top: 165px;
  }

  @media #{$tablet} {
    max-width: 660px;
    padding: 37px 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    padding: 189px 130px 95px 130px;
  }
}

.rates__table {
  border-collapse: collapse;

  @media #{$mobile} {
    width: 1104px;
    transform: translateX(-48%);
    transition: 0.5s;
  }
}

.rates__title {
  font-size: 16px;
  font-weight: 700;
  color: $white;
  border: 2px solid $advantages-background;
  border-radius: 1px 0 0 0;
  background-color: $text-color;
  width: 276px;
  position: relative;

  @media #{$mobile} {
    padding-top: 14px;
    padding-bottom: 26px;
  }

  @media #{$tablet} {
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 8px;
  }

  @media #{$desktop} {
    padding-top: 16px;
    padding-bottom: 17px;
    line-height: 30px;
  }
}

.rates__title--hit::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  left: -2px;
  bottom: 23px;
  background: url("../img/hit-mobile.svg") no-repeat;

  @media #{$tablet} {
    width: 61px;
    height: 61px;
    left: -1px;
    bottom: 18px;
    background: url("../img/hit-tablet.svg") no-repeat;
  }

  @media #{$desktop} {
    left: 0;
    bottom: 22px;
  }
}

.rates__text {
  font-size: 18px;
  font-weight: 300;
  color: $white;

  @media #{$desktop} {
    font-size: 24px;
  }
}

.rates__detail {
  width: 276px;
  border: 2px solid $border-color;
  border-radius: 0 0 0 1px;
  background-color: $white;
  position: relative;

  @media #{$mobile} {
    height: 56px;
  }

  @media #{$tablet} {
    min-width: 136px;
    height: 42px;
    padding-left: 16px;
    text-transform: none;
  }

  @media #{$desktop} {
    font-size: 18px;
    height: 61px;
    min-width: 235px;
    box-sizing: border-box;
    text-transform: none;
    padding-left: 21px;
  }
}

.rates__detail--not-include::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background: url("../img/no.svg") no-repeat;

  @media #{$mobile} {
    right: 17px;
  }

  @media #{$tablet} {
    left: 64px;
    bottom: 9px;
  }

  @media #{$desktop} {
    left: 103px;
    bottom: 17px;
  }
}

.rates__detail--include::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 21px;
  background: url("../img/yes.svg") no-repeat;

  @media #{$mobile} {
    right: 15px;
    top: 18px;
  }

  @media #{$tablet} {
    left: 61px;
    bottom: 12px;
  }

  @media #{$desktop} {
    left: 102px;
    bottom: 20px;
  }
}

.rates__item {
  padding-left: 20px;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}

.rates__toggles {
  text-align: center;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}
