.review {
  margin: 0;
  box-sizing: border-box;
  border: 2px solid $border-color;

  @media #{$mobile} {
    border: none;
    padding: 0 20px;
    max-width: 320px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    padding: 34px 58px 0;
    min-width: 620px;
    margin: 54px 20px 0;
    min-height: 303px;
  }

  @media #{$desktop} {
    grid-row: 4/5;
    grid-column: 1/-1;
    padding: 31px 58px 0;
    margin-top: 55px;
    min-height: 227px;
  }
}

.review__legend {
  margin: 0 auto;

  @media #{$mobile} {
    padding-top: 35px;
    padding-bottom: 14px;
  }

  @media #{$tablet} {
    min-width: 256px;
  }

  @media #{$desktop} {
    min-width: 258px;
  }
}

.review > .form__text {
  @media #{$mobile} {
    margin-left: 0;
  }
}
