.reviews__wrapper {
  text-align: center;
  box-sizing: border-box;

  @media #{$mobile} {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media #{$tablet} {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 130px;
  }
}

.reviews__item {
  display: grid;
  justify-items: center;
}

.reviews__user {
  font-size: 18px;
  font-weight: 700;
  color: $black;

  @media #{$tablet} {
    font-size: 20px;
  }

  @media #{$desktop} {
    font-size: 24px;
  }
}

.reviews__text {
  @media #{$mobile} {
    max-width: 280px;
  }

  @media #{$tablet} {
    font-size: 18px;
    max-width: 620px;
  }

  @media #{$desktop} {
    font-size: 18px;
    max-width: 688px;
  }

  &--hidden {
    @media #{$mobile} {
      display: none;
    }
  }
}
