.social {
  min-width: 178px;

  @media #{$mobile} {
    padding-top: 32px;
  }

  @media #{$tablet} {
    margin-left: -21px;
    min-width: 183px;
  }

  @media #{$desktop} {
    min-width: 177px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-left: 5px;

  @media #{$mobile} {
    margin: 0;
  }

  @media #{$tablet} {
    padding-top: 5px;
  }

  @media #{$desktop} {
    padding-top: 5px;
  }
}

.social__link:focus {
  outline: none;
}

.social__link:active svg {
  fill-opacity: 0.3;
}

.social__link svg {
  box-sizing: border-box;
  border: 3px solid rgba($text-color, 0.1);
  border-radius: 50%;
}

.social__link:hover {
  border-color: $text-color;
}
