.sprite-logo {
  fill: $white;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}

.sprite-logo-tablet {
  fill: $white;

  @media #{$mobile} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}

.sprite-logo-desktop {
  fill: $white;

  @media #{$mobile} {
    display: none;
  }

  @media #{$tablet} {
    display: none;
  }
}

.sprite-logo-footer {
  fill: $text-color;

  @media #{$desktop} {
    display: none;
  }
}

.sprite-logo-footer-desktop {
  fill: $text-color;

  @media #{$mobile} {
    display: none;
  }

  @media #{$tablet} {
    display: none;
  }
}

.sprite__academy-logo {
  width: 27px;
  height: 34px;
  fill: $contacts-link-color;

  @media #{$tablet} {
    height: 37px;
  }
}

.sprite-heart {
  @media #{$tablet} {
    transform: translate(-30px, -2px);
  }

  @media #{$desktop} {
    transform: translate(-31px, -2px);
  }

  &--top {
    @media #{$tablet} {
      transform: translateY(1px);
    }

    @media #{$desktop} {
      transform: translateX(-31px);
    }
  }
}

.sprite-open {
  fill: $white;
}

.sprite-open--hidden {
  display: none;
}

.sprite-close {
  fill: $white;
  display: none;
}

.sprite-close--active {
  display: block;
  transform: translate(28px, 2px);
}
