.study {
  @media #{$mobile} {
    display: none;
  }

  @media #{$desktop} {
    min-height: 479px;
    background-color: $advantages-background;
  }
}

.study__wrapper {
  box-sizing: border-box;

  @media #{$tablet} {
    min-height: 330px;
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
    background: url("../img/timer-tablet.png") no-repeat top 54px left 20px;
  }

  @media #{$desktop} {
    max-width: 1200px;
    min-height: 430px;
    padding: 0 130px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    background: url("../img/timer-desktop.png") no-repeat top 68px left 131px;
  }
}

.study__item {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    margin-left: 310px;
    padding-top: 96px;
    width: 47%;
  }

  @media #{$desktop} {
    width: 45%;
    margin: 0 auto;
    padding-left: 223px;
    padding-top: 91px;
  }
}

.study__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: $black;

  @media #{$tablet} {
    max-width: 170px;
    line-height: 36px;
  }
}

.study__text {
  @media #{$tablet} {
    line-height: 24px;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media #{$desktop} {
    font-size: 18px;
    min-width: 526px;
    margin: 0;
    padding-top: 15px;
  }
}

.study__link {
  color: $contacts-link-color;
  text-decoration: underline;

  @media #{$desktop} {
    font-size: 18px;
    padding-top: 31px;
  }
}
