.button {
  border: 3px solid $white;
  border-radius: 29px;

  &--upload {
    border-color: $contacts-link-color;
    border-radius: 30px;
    max-height: 55px;

    @media #{$mobile} {
      max-width: 280px;
    }

    @media #{$tablet} {
      max-width: 260px;
      grid-column: 2/3;
    }

    @media #{$desktop} {
      max-width: 183px;
      grid-column: 2/3;
    }
  }

  &--cancel {
    border-color: rgba($text-color, 0.1);
    border-radius: 30px;
    max-height: 55px;

    @media #{$mobile} {
      max-width: 280px;
    }

    @media #{$tablet} {
      max-width: 260px;
      grid-column: 2/3;
    }

    @media #{$desktop} {
      max-width: 183px;
      grid-column: 3/4;
    }
  }
}
