.form--color {
  background-color: $advantages-background;
}

.form__label {
  text-transform: uppercase;
  color: $contacts-link-color;

  &--color {
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
    color: $text-color;
  }
}

.form__name {
  padding: 0;
}

.form__text {
  padding: 0;
  font-size: 18px;
  border: 2px solid $border-color;
  border-radius: 1px;
}

.form__checkbox {
  margin: 0;
}

.form__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white;
  background-color: $submit-button-color;
  border: 2px solid $submit-button-color;
  border-radius: 1px;
}

.legend {
  padding: 0;
  text-transform: uppercase;
  line-height: 18px;
  color: $contacts-link-color;
}
