@import "variables";

.main {
  background-color: $main-background;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 300;
  color: $white;

  &--bg {
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
  }
}

.main__title {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;

  &--second {
    line-height: 33px;
  }
}

.main__link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: inherit;

  &--store {
    color: inherit;
  }
}

.main__note {
  margin: 0;
}
