@import "variables";

.main {
  background-color: $main-background;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 300;
  color: $white;

  &--bg {
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
  }

  &__title {
    font-size: 24px;
    line-height: 120%;

    &--second {
      line-height: 33px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: inherit;
  }

  &__link--store {
    color: inherit;
  }
}
