.rates {
  background-color: $advantages-background;
  text-transform: uppercase;
  line-height: 30px;
}

.rates__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: $white;
}

.rates__text {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: $white;
}

.rates__details {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $white;
}

.rates__toggles {
  margin: 0;
}

.detail__item {
  border: 2px solid $border-color;
  border-radius: 0 0 0 1px;
}

.slider-wrapper {
  border: 2px solid $text-color;
  border-radius: 1px 0 0 0;
  background-color: $text-color;
}
