@import "variables";

.reviews {
  line-height: 30px;
}

.reviews__user {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

.reviews__text {
  margin: 0;
}

.reviews__toggles {
  margin: 0;
}
