$white: #ffffff;
$black: #000000;
$main-background: #1d2631;
$text-color: #283645;
$advantages-background: #f2f2f2;
$border-color: #e5e5e5;
$contacts-link-color: #d22856;
$submit-button-color: #2aab6d;
$submit-button-hover: #1c9b5e;
